In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import scipy.stats as st

In [13]:
#Load the CSV path 
path = "../Raw Data/converted_data.csv"

#Read CSV file
inflation_df = pd.read_csv(path)

inflation_df

,Date,Oil Price,cpi_all_items,cpi_all_items_minus,cpi_food,cpi_energy,cpi_gas,total_mfg_ind,petrol_grease_mfg,ind_gas_mfg,oil_gas_machine_equip_mfg,supermarkets_grocery_stores,truck_transp
0,01/01/12,113.06,226.67,227.24,232.67,236.94,290.76,191.10,450.40,134.70,234.10,161.70,128.70
1,02/01/12,122.66,227.66,227.87,232.49,242.66,305.08,192.10,447.60,134.90,235.70,164.20,129.10
2,03/01/12,122.88,229.39,228.74,232.79,253.60,329.78,194.30,450.00,134.90,234.40,164.00,130.50
3,04/01/12,123.43,230.09,229.30,233.23,255.74,335.74,194.70,450.40,136.70,234.80,163.60,130.90
4,05/01/12,101.87,229.82,229.60,233.34,250.31,323.60,193.60,449.50,133.80,234.60,165.60,130.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,03/01/22,107.91,287.50,289.31,295.73,298.25,366.50,245.40,541.18,230.89,294.22,231.11,198.15
123,04/01/22,109.34,289.11,290.85,298.71,298.47,362.80,249.83,566.07,231.24,302.83,234.69,200.87
124,05/01/22,114.81,292.30,292.51,302.04,316.76,391.26,256.58,565.31,234.72,304.70,238.95,203.87
125,06/01/22,110.01,296.31,294.68,305.04,340.92,430.14,262.83,595.44,236.33,306.22,247.04,202.80
126,07/01/22,96.48,296.28,295.65,308.53,325.41,396.95,257.55,612.90,236.43,308.31,244.30,201.89

In [17]:
inflation_df.dtypes

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [14]:
inflation_df.groupby(inflation_df["Oil Price"]).cpi_all_items.agg([
                                                                    "mean",
                                                                    "median",
                                                                    "var",
                                                                    "std",
                                                                    "sem"])

             mean  median  var  std  sem
Oil Price
25.27      256.39  256.39  NaN  NaN  NaN
34.11      258.12  258.12  NaN  NaN  NaN
34.74      236.92  236.92  NaN  NaN  NaN
35.33      256.39  256.39  NaN  NaN  NaN
35.97      237.11  237.11  NaN  NaN  NaN
...           ...     ...  ...  ...  ...
115.55     230.28  230.28  NaN  NaN  NaN
116.12     234.15  234.15  NaN  NaN  NaN
122.66     227.66  227.66  NaN  NaN  NaN
122.88     229.39  229.39  NaN  NaN  NaN
123.43     230.09  230.09  NaN  NaN  NaN

[127 rows x 5 columns]

In [15]:
inflation_df.groupby(inflation_df["Oil Price"]).total_mfg_ind.agg([
                                                                    "mean",
                                                                    "median",
                                                                    "var",
                                                                    "std",
                                                                    "sem"])

            mean  median  var  std  sem
Oil Price
25.27      186.1   186.1  NaN  NaN  NaN
34.11      192.3   192.3  NaN  NaN  NaN
34.74      179.7   179.7  NaN  NaN  NaN
35.33      188.9   188.9  NaN  NaN  NaN
35.97      178.7   178.7  NaN  NaN  NaN
...          ...     ...  ...  ...  ...
115.55     192.6   192.6  NaN  NaN  NaN
116.12     194.3   194.3  NaN  NaN  NaN
122.66     192.1   192.1  NaN  NaN  NaN
122.88     194.3   194.3  NaN  NaN  NaN
123.43     194.7   194.7  NaN  NaN  NaN

[127 rows x 5 columns]

In [16]:
inflation_df.groupby(inflation_df["Oil Price"]).truck_transp.agg([
                                                                    "mean",
                                                                    "median",
                                                                    "var",
                                                                    "std",
                                                                    "sem"])

            mean  median  var  std  sem
Oil Price
25.27      143.7   143.7  NaN  NaN  NaN
34.11      145.7   145.7  NaN  NaN  NaN
34.74      131.8   131.8  NaN  NaN  NaN
35.33      140.6   140.6  NaN  NaN  NaN
35.97      131.3   131.3  NaN  NaN  NaN
...          ...     ...  ...  ...  ...
115.55     131.8   131.8  NaN  NaN  NaN
116.12     132.9   132.9  NaN  NaN  NaN
122.66     129.1   129.1  NaN  NaN  NaN
122.88     130.5   130.5  NaN  NaN  NaN
123.43     130.9   130.9  NaN  NaN  NaN

[127 rows x 5 columns]